@model JellyBeanTracker.Web.Models.JellyBeanValue

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>JellyBeanValue</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Jan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Feb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Feb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.May)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.May)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Jun)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jun)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Jul)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jul)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aug)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aug)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sep)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Oct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Oct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nov)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nov)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dec)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dec)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
